.reset-card {
  width: 26rem;
  height: auto;
  padding: 1rem;
  border: 4px solid #0000;
  border-radius: 30px;
  background: linear-gradient(rgba(10,10,30,0.85), rgba(10,10,30,0.85)) padding-box,
    linear-gradient(var(--angle), #6bf1fa, #f538ff) border-box;
  animation: 15s rotate linear infinite;
  --bs-card-bg: transparent;
  color: white;
}

.reset-password-card {
  width: 40rem;
  height: auto;
  padding: 1rem;
  border: 4px solid #0000;
  border-radius: 30px;
  background: linear-gradient(rgba(10,10,30,0.85), rgba(10,10,30,0.85)) padding-box,
    linear-gradient(var(--angle), #6bf1fa, #f538ff) border-box;
  animation: 15s rotate linear infinite;
  --bs-card-bg: transparent;
  color: white;
}

.reset-card-subtitle {
  font-size: 15px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 4px 2px rgba(0, 0, 0, 0.1),
    0 6px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.04),
    0 12px 12px rgba(0, 0, 0, 0.03);
}

.btn-reset-card-border {
  border: 2px solid !important;
  border-color: aqua !important;
}

.btn-reset-card-border:hover {
  border-color: #7c0ebc !important;
}

.reset-message-errors {
  font-size: 0.8rem;
}

.btn-close-modal {
  background-color: #a41ef165;
}


/* Pantalla móvil  */
@media (max-width: 600px) {
  .reset-card {
    width: 20rem;
    padding-right: 0px;
    padding-left: 0px;
  }
}
