.sign-in-card {
  width: 26rem;
  height: auto;
  border: 3px solid;
  background-color: #ffffff;
  padding: 1rem;
  border: 4px solid #0000;
  border-radius: 30px;
  background: linear-gradient(#ffffff, hsl(0, 0%, 100%, 0.911)) padding-box,
    linear-gradient(var(--angle), #6bf1fa, #f538ff) border-box;
  animation: 15s rotate linear infinite;
  background-color: transparent;
}

.sign-in-card-subtitle {
   font-size: 15px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 4px 2px rgba(0, 0, 0, 0.1),
    0 6px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.04),
    0 12px 12px rgba(0, 0, 0, 0.03);
}
.sign-in-password-subtitle {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}
.btn-sign-in-card-border {
  border: 2px solid !important;
  border-color: aqua !important;
}

.btn-sign-in-card-border:hover{
     border-color:#7c0ebc !important;
}

.sign-in-message-errors{
  font-size: 0.8rem;
}

.btn-close-modal {
  background-color: #a41ef165;

} 

/* Pantalla móvil  */
@media (max-width: 600px) {
 .sign-in-card {
  width: min(20rem, 94vw);
  padding-right: 0px;
  padding-left: 0px;
 }
}